/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-LightItalic.eot");
  src: local("SF UI Text LightItalic"), local("SFUIText-LightItalic"), url("../fonts/SFUIText-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-LightItalic.woff2") format("woff2"), url("../fonts/SFUIText-LightItalic.woff") format("woff"), url("../fonts/SFUIText-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Regular.eot");
  src: local("SF UI Display Regular"), local("SFUIDisplay-Regular"), url("SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Regular.woff2") format("woff2"), url("SFUIDisplay-Regular.woff") format("woff"), url("SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-RegularItalic.eot");
  src: local("SF UI Text Regular Italic"), local("SFUIText-RegularItalic"), url("../fonts/SFUIText-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-RegularItalic.woff2") format("woff2"), url("../fonts/SFUIText-RegularItalic.woff") format("woff"), url("../fonts/SFUIText-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Ultralight.eot");
  src: local("SF UI Display Ultralight"), local("SFUIDisplay-Ultralight"), url("SFUIDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Ultralight.woff2") format("woff2"), url("SFUIDisplay-Ultralight.woff") format("woff"), url("SFUIDisplay-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-SemiboldItalic.eot");
  src: local("SF UI Text SemiboldItalic"), local("SFUIText-SemiboldItalic"), url("../fonts/SFUIText-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFUIText-SemiboldItalic.woff") format("woff"), url("../fonts/SFUIText-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Heavy.eot");
  src: local("SF UI Display Heavy"), local("SFUIDisplay-Heavy"), url("SFUIDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Heavy.woff2") format("woff2"), url("SFUIDisplay-Heavy.woff") format("woff"), url("SFUIDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Heavy.eot");
  src: local("SF UI Text Heavy"), local("SFUIText-Heavy"), url("../fonts/SFUIText-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Heavy.woff2") format("woff2"), url("../fonts/SFUIText-Heavy.woff") format("woff"), url("../fonts/SFUIText-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Black.eot");
  src: local("SF UI Display Black"), local("SFUIDisplay-Black"), url("SFUIDisplay-Black.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Black.woff2") format("woff2"), url("SFUIDisplay-Black.woff") format("woff"), url("SFUIDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Semibold.eot");
  src: local("SF UI Text Semibold"), local("SFUIText-Semibold"), url("../fonts/SFUIText-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Semibold.woff2") format("woff2"), url("../fonts/SFUIText-Semibold.woff") format("woff"), url("../fonts/SFUIText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Semibold.eot");
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"), url("SFUIDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Semibold.woff2") format("woff2"), url("SFUIDisplay-Semibold.woff") format("woff"), url("SFUIDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Medium.eot");
  src: local("SF UI Text Medium"), local("SFUIText-Medium"), url("../fonts/SFUIText-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Medium.woff2") format("woff2"), url("../fonts/SFUIText-Medium.woff") format("woff"), url("../fonts/SFUIText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Light.eot");
  src: local("SF UI Text Light"), local("SFUIText-Light"), url("../fonts/SFUIText-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Light.woff2") format("woff2"), url("../fonts/SFUIText-Light.woff") format("woff"), url("../fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Bold.eot");
  src: local("SF UI Display Bold"), local("SFUIDisplay-Bold"), url("SFUIDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Bold.woff2") format("woff2"), url("SFUIDisplay-Bold.woff") format("woff"), url("SFUIDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Regular.eot");
  src: local("SF UI Text Regular"), local("SFUIText-Regular"), url("../fonts/SFUIText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Thin.eot");
  src: local("SF UI Display Thin"), local("SFUIDisplay-Thin"), url("SFUIDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Thin.woff2") format("woff2"), url("SFUIDisplay-Thin.woff") format("woff"), url("SFUIDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-BoldItalic.eot");
  src: local("SF UI Text BoldItalic"), local("SFUIText-BoldItalic"), url("../fonts/SFUIText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-BoldItalic.woff2") format("woff2"), url("../fonts/SFUIText-BoldItalic.woff") format("woff"), url("../fonts/SFUIText-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Bold.eot");
  src: local("SF UI Text Bold"), local("SFUIText-Bold"), url("../fonts/SFUIText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Bold.woff2") format("woff2"), url("../fonts/SFUIText-Bold.woff") format("woff"), url("../fonts/SFUIText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Medium.eot");
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"), url("SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Medium.woff2") format("woff2"), url("SFUIDisplay-Medium.woff") format("woff"), url("SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-HeavyItalic.eot");
  src: local("SF UI Text HeavyItalic"), local("SFUIText-HeavyItalic"), url("../fonts/SFUIText-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-HeavyItalic.woff2") format("woff2"), url("../fonts/SFUIText-HeavyItalic.woff") format("woff"), url("../fonts/SFUIText-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Light.eot");
  src: local("SF UI Display Light"), local("SFUIDisplay-Light"), url("SFUIDisplay-Light.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Light.woff2") format("woff2"), url("SFUIDisplay-Light.woff") format("woff"), url("SFUIDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-MediumItalic.eot");
  src: local("SF UI Text MediumItalic"), local("SFUIText-MediumItalic"), url("../fonts/SFUIText-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-MediumItalic.woff2") format("woff2"), url("../fonts/SFUIText-MediumItalic.woff") format("woff"), url("../fonts/SFUIText-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  font-family: "SF UI Text";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: #f5f6f7;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.bread-crumbs {
  font-size: 12px;
  line-height: 183.84%;
  margin: 15px 0px 15px 0px;
}

input {
  font-family: "SF UI Text";
}

select:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #ffffff;
  -webkit-box-shadow: 0 6px 2px -4px rgba(114, 114, 114, 0.473);
          box-shadow: 0 6px 2px -4px rgba(114, 114, 114, 0.473);
  padding: 23px 40px 16px 40px;
}

.header__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo__header {
  max-width: 170px;
  max-height: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logo__header img {
  width: 100%;
  height: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 40px 0px 0px;
}

a.nav__link {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 700;
  font-size: 16px;
  line-height: 180.53%;
  text-transform: uppercase;
  color: #000000;
}

a.nav__link .nav__counter {
  color: #ffffff;
  background: #d1dae6;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  margin: 0px 0px 0px 7px;
}

a.nav__link:hover {
  color: #afbbcb;
}

.rotate {
  -webkit-transform: translateX(-10px) rotate(180deg);
          transform: translateX(-10px) rotate(180deg);
}

header .select__wrapper .select__arrow {
  background: url("../img/arrow__header.svg") no-repeat;
  min-width: 20px;
  height: 20px;
  top: 16px;
  right: 15px;
}

header .select__wrapper select {
  width: 275px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #afbbcb;
}

header .select__wrapper select option {
  color: #000000;
}

.select__wrapper {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.select__arrow {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 2;
  position: absolute;
  min-width: 10px;
  height: 10px;
  top: 12px;
  right: 10px;
  background: url("../img/arrow.svg") no-repeat;
}

select.select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  padding: 15px 20px 15px 20px;
  background: #eef2f9;
  background-position: center right;
  border-radius: 7px;
  min-width: 100px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #243951;
}

section select.select {
  padding: 10px;
}

.profile {
  max-width: 130px;
  position: relative;
  text-align: right;
  margin: 0px 0px 0px 60px;
  padding: 0px 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  z-index: 0;
}

.profile::before, .profile::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  display: block;
  width: 5px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #afbbcb;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}

.profile::after {
  -webkit-transform: translate(0px, -50%) rotate(-45deg);
          transform: translate(0px, -50%) rotate(-45deg);
}

.profile:hover .profile__name {
  color: #243951;
}

.profile__name {
  color: #4a75cb;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-decoration: underline;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #243951;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  padding: 7px 0px 7px 0px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__block img.footer__logo {
  background-blend-mode: lighten;
}

.footer__block .footer__text {
  margin: 0px 0px 0px 5px;
}

a.tech {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
}

a.tech:hover {
  color: #87aefc;
}

.info {
  padding: 45px 0px 50px 0px;
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__wrapper .info__block_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info__wrapper .info__block_1 .info__img {
  margin: 0px 50px 0px 0px;
  position: relative;
  background-image: url(../img/privilegia_img.png);
  width: 265px;
  height: 198px;
}

.info__wrapper .info__block_1 .info__img .info__text {
  position: absolute;
  top: 25px;
  right: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 9px 2px 9px;
  background-color: #82b378;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  line-height: 29px;
}

.info__wrapper .info__block_1 .info__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__wrapper .info__block_1 .info__stats .stats__block:last-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.info__wrapper .info__block_1 .info__stats .stats__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 145px;
      grid-template-columns: 100px 145px;
  -ms-grid-rows: 65px;
      grid-template-rows: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 6px 2px -4px #d1dae6;
          box-shadow: 0 6px 2px -4px #d1dae6;
}

.info__wrapper .info__block_1 .info__stats .stats__block .stats__title {
  font-size: 36px;
  line-height: 180.53%;
  margin: 0px 30px 0px 0px;
}

.info__wrapper .info__block_1 .info__stats .stats__block .stats__text {
  font-size: 18px;
  line-height: 126.5%;
}

.info__wrapper .info__block_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__wrapper .info__block_2 .info__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  font-size: 16px;
  line-height: 29px;
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 20px 0px;
  -webkit-box-shadow: 0 6px 2px -4px #d1dae6;
          box-shadow: 0 6px 2px -4px #d1dae6;
}

.info__wrapper .info__block_2 .info__objects .objects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 180%;
}

.tab input,
.tab-content {
  display: none;
}

.tab {
  min-width: 860px;
  max-width: 860px;
  border-radius: 3px;
  color: #848994;
}

.tab-title {
  background: none;
  font-size: 18px;
  line-height: 21px;
  color: #243951;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 15px 0px 15px 0px;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 1px solid #d1dae6;
}

.tab-title::after {
  content: url("../img/arrow.svg");
  float: right;
  margin: 0px 20px 0px 0px;
}

.tab :checked + .tab-title {
  border-bottom: none;
}

.tab :checked + .tab-title::after {
  content: url("../img/arrow.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tab :checked ~ .tab-content {
  display: block;
}

.tab-content tr {
  display: inline-block;
  margin: 10px 0px 25px 0px;
}

.tab-content tr td:last-child {
  margin: 0px;
}

.tab-content tr td {
  margin: 0px 25px 0px 0px;
  display: inline-block;
  position: relative;
}

.condition {
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  position: absolute;
  border-radius: 2px;
  top: 0px;
  left: 50%;
  color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.saled .condition {
  background: #bdbdbd;
}

.paid-reservation .condition {
  background: #7b61ff;
}

.verbal-reservation .condition {
  background: #ffba34;
}

.on-sale .condition {
  background: #428834;
}

.tab__item {
  color: #243951;
  background-color: #ffffff;
  min-width: 190px;
}

.tab__item tr {
  margin: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tab__item tr td {
  padding: 11px 15px 11px 15px;
  margin: 0px;
  width: 100%;
  border: 1px solid #d1dae6;
}

.tab__item tr td:first-child {
  width: 75px;
  min-width: 75px;
}

.tab__item tr td:last-child {
  margin: 0;
}

.tab__item tr.first td {
  padding-top: 27px;
}

.tab__info {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.deactive {
  display: none !important;
}

body {
  overflow-y: scroll;
}

.objects {
  padding: 0px 0px 50px 0px;
}

.objects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__block {
  margin: 0px 0px 0px 0px;
}

.section__block input {
  position: absolute;
  top: 0;
  left: -100%;
  visibility: hidden;
}

.section__title {
  margin: 0;
  padding: 25px 20px 15px 20px;
  background: none;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #d1dae6;
  cursor: pointer;
}

input:checked + .section__title {
  background: #ffffff;
}

.section__block_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__block_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section__counter {
  margin: 15px 10px 0px 0px;
  display: block;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  color: #ffffff;
}

.counter__saled {
  background: #bdbdbd;
}

.counter__paid-reservation {
  background: #7b61ff;
}

.counter__verbal-reservation {
  background: #ffba34;
}

.counter__on-sale {
  background: #428834;
}

.objects__find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.objects__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.objects__filter .filter__title {
  margin: 0px 15px 0px 0px;
}

.objects__filter input {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
}

.objects__filter label {
  margin: 0px 15px 0px 0px;
}

.objects__filter input:checked + .objects__wrapper__filter__label {
  background: url("../img/sqrs-act.svg");
}

.objects__filter .objects__wrapper__filter__label {
  display: block;
  background: url("../img/sqrs-dis.svg");
  width: 36px;
  height: 14.65px;
}

.objects__filter input:checked + .objects__table__filter__label {
  background: url("../img/lines-act.svg");
}

.objects__filter .objects__table__filter__label {
  display: block;
  width: 21px;
  height: 17px;
  background: url("../img/lines-dis.svg");
}

.filter__selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.filter__selects .select__wrapper {
  margin: 0px 15px 0px 0px;
}

.filter__selects .select__arrow {
  background: url("../img/arrow__header.svg");
  top: 20px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.filter__selects .select {
  border-radius: 3px;
  background: #e8eef2;
  font-size: 14px;
  line-height: 50px;
  padding: 5px 14px;
  width: 220px;
}

.filter__selects .filter__btn {
  font-size: 14px;
  padding: 0px 35px 0px 35px;
  line-height: 50px;
  background: #f5cfbb;
  border-radius: 3px;
}

.objects__table table tr {
  width: 100%;
}

.objects__table table tr td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 50px;
  padding: 10px 20px 18px 20px;
  border: 1px solid #d1dae6;
}

.objects__table table tr td.id-number {
  width: 95px;
}

.objects__table table tr td.plan {
  width: 95px;
}

.objects__table table tr td.rooms {
  width: 95px;
}

.objects__table table tr td.area {
  width: 95px;
}

.objects__table table tr td.adress {
  min-width: 210px;
  font-size: 14px;
  line-height: 21px;
}

.objects__table table tr td.bs {
  width: 75px;
}

.objects__table table tr td.floor {
  width: 95px;
}

.objects__table table tr td.sale-type {
  width: 140px;
}

.objects__table table tr td.stage {
  width: 95px;
}

.objects__table table tr td.price {
  min-width: 124px;
}

.objects__table table tr.table__legend td {
  padding: 0px 0px 0px 0px;
  font-size: 10px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #afbbcb;
  border: none;
}
/*# sourceMappingURL=objects.css.map */