//  index.html
@import "../base/_reset.scss";
@import "../base/_colors";
@import "../utils/_variables";
@import "../utils/_fonts";
@import "../base/_stable";

// @import "../layout/_header";
// @import "../layout/_footer";

.entry {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.entry__logo {
  margin-right: -55px;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: scale(1.1, 1.1);
  }
}
.entry__title {
  color: $color1;
  margin: 90px 0px 25px 0px;
}
input.entry__input {
  width: 250px;
  font-family: "SF UI Text";
  background-color: $color3;
  border: none;
  border-radius: 7px;
  text-align: center;
  padding: 16px 10px 16px 10px;
  margin: 0px 0px 10px 0px;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: scale(1.1, 1.1);
  }
}
.entry__btn {
  padding: 15px 45px 15px 45px;
  width: fit-content;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: $color0;
  background-color: $color6;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: $color7;
    transform: scale(1.1, 1.1);
  }
}
.entry__link {
  margin: 16px 0px 0px 0px;
  text-decoration: underline;
  color: $color4;
  font-size: 12px;
  line-height: 14px;
  &:hover {
    color: $color5;
  }
}
