footer {
  flex: 0 0 auto;
  background-color: $color11;
  font-size: 10px;
  line-height: 12px;
  color: $color0;
  padding: 7px 0px 7px 0px;
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  .footer__link {
  }
  img.footer__logo {
    background-blend-mode: lighten;
  }
  .footer__text {
    margin: 0px 0px 0px 5px;
  }
}
a.tech {
  text-decoration-line: underline;
  color: $color0;
  &:hover {
    color: $color5;
  }
}
