.dash__section {
  padding: 0px 0px 50px 0px;
}
.dash {
  width: 100%;
  background: $color0;
  border: 1px solid $color12;
  box-sizing: border-box;
  border-radius: 3px;
  tr {
    width: 100%;
    box-shadow: 0 6px 2px -4px $color12;
  }
  td:first-child {
    padding: 0px 0px 0px 35px;
  }
  td:last-child {
    padding: 0 50px 0 0;
  }
  td {
    font-size: 14px;
    line-height: 20px;
    .counter {
      margin: 18px auto 16px;
      padding: 3px 9px;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      font-weight: 700;
      color: $color0;
      width: fit-content;
      border-radius: 5px;
      text-align: center;
    }
  }
}
.counter {
}

.all_requests {
  td {
  }
  td {
    .counter {
      color: $color9;
      background: $color8;
    }
  }
}

.at_work_requests {
  td {
  }
  td {
    .counter {
      background: $color13;
    }
  }
}
.performed_requests {
  td {
  }
  td {
    .counter {
      background: $color4;
    }
  }
}
.timeline {
  td {
    text-align: center;
    padding: 18px 9px 20px;
  }
}
