.info {
  padding: 45px 0px 50px 0px;
}
.info__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .info__block {
  }
  .info__block_1 {
    display: flex;
    flex-direction: row;
    .info__img {
      margin: 0px 50px 0px 0px;
      position: relative;
      background-image: url(../img/privilegia_img.png);
      width: 265px;
      height: 198px;
      .info__text {
        position: absolute;
        top: 25px;
        right: 0px;
        width: fit-content;
        padding: 2px 9px 2px 9px;
        background-color: $color14;
        border-radius: 5px;
        color: $color0;
        font-size: 16px;
        line-height: 29px;
      }
    }
    .info__stats {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .stats__block:last-child {
        box-shadow: none;
      }
      .stats__block {
        display: grid;
        grid-template-columns: 100px 145px;
        grid-template-rows: 65px;
        align-items: center;
        box-shadow: 0 6px 2px -4px $color12;
        .stats__title {
          font-size: 36px;
          line-height: 180.53%;
          margin: 0px 30px 0px 0px;
        }
        .stats__text {
          font-size: 18px;
          line-height: 126.5%;
        }
      }
    }
  }
  .info__block_2 {
    display: flex;
    flex-direction: column;

    .info__adress {
      display: flex;
      flex-direction: column;
      text-align: right;
      font-size: 16px;
      line-height: 29px;
      padding: 0px 0px 20px 0px;
      margin: 0px 0px 20px 0px;
      box-shadow: 0 6px 2px -4px $color12;
    }
    .info__objects {
      .objects__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        line-height: 180%;
        .objects__item {
        }
      }
    }
  }
}
