/*   .entry__title   */
$color1: #7c8091;
/*   not used   */
$color2: #afbbcb;
/*   .entry__input   */
$color3: #f7fafe;
/*   .entry__link   */
$color4: #4a75cb;
/*   .entry__link:hover   */
$color5: #87aefc;
/*   .entry__btn   */
$color6: #bb6234;
/*   .entry__btn:hover   */
$color7: #9b532e;
/*   .select   */
$color8: #eef2f9;
