$color0: #ffffff;
$color1: #7c8091;
$color2: #afbbcb;
$color3: #f7fafe;
$color4: #4a75cb;
$color5: #87aefc;
$color6: #bb6234;
$color7: #9b532e;
$color8: #eef2f9;
$color9: #000000;
$color10: #f5f6f7;
$color11: #243951;
$color12: #d1dae6;
$color13: #428834;
$color14: #82b378;
$color15: #848994;
$color16: #bdbdbd;
$color17: #7b61ff;
$color18: #ffba34;
$color19: #e8eef2;
$color20: #f5cfbb;
$color21: rgba(114, 114, 114, 0.473);
