/*   footer   .dash  */
$color0: #ffffff;
/*   .entry__title   */
$color1: #7c8091;
/*   header   a.nav__link:hover   */
$color2: #afbbcb;
/*   .entry__input   */
$color3: #f7fafe;
/*   .entry__link   .performed_requests.counter   */
$color4: #4a75cb;
/*   .entry__link:hover   */
$color5: #87aefc;
/*   .entry__btn   */
$color6: #bb6234;
/*   .entry__btn:hover   */
$color7: #9b532e;
/*   .select   */
$color8: #eef2f9;
/*   a.nav__link   */
$color9: #000000;
/*  .wrapper  */
$color10: #f5f6f7;
/*   footer   */
$color11: #243951;
/*   .dash   */
$color12: #d1dae6;
/*   .at_work_requests.counter   */
$color13: #428834;
/*   .info__img.info__text   */
$color14: #82b378;
/*      */
