html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  font-family: $fontMain;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1 0 auto;
  background: $color10;
}

main {
  flex: 1 0 auto;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}
.bread-crumbs {
  font-size: 12px;
  line-height: 183.84%;
  margin: 15px 0px 15px 0px;
}

input {
  font-family: $fontMain;
}
select {
  &:hover {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
